extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-md-3.col-md-offset-4
				img(src='/stylesheets/images/epicmath-logo.png', class='logo-img')
				//img(src='/stylesheets/images/passportjs-logo.png', class='logo-img')
				h1.text-center.login-title Sign in with :
				a(href='/login/facebook', class='btn btn-block btn-social btn-facebook') Login with Facebook
					i(class='fa fa-facebook')
				a(href='/login/twitter', class='btn btn-block btn-social btn-twitter') Login with Twitter
					i(class='fa fa-twitter')
